*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(to right,#FBC02D,#FF8F00)
}

.main{
    width:1000px;
    height:650px;
    background:white;
    border-radius:25px;
    display:flex;
    padding:15px;
}

.left{
    width:50%;
    padding:70px;
}

.left h1{
    text-align:center;
    margin-bottom:40px;
    color: orange;
}

.left p{
    font-size:14px;
    margin-bottom:15px;
    color: red;
}

.left input{
    width:100%;
    height:45px;
    margin-bottom:20px;
    padding-left:15px;
    border:none;
    background:#f3f3f3;
    border-radius:8px;
}

.left a{
    display:block;
    text-align:right;
    text-decoration:none;
    margin-bottom:30px;
    font-size:13px;
}

.left button{
    width:100%;
    height:45px;
    border:none;
    background:#3874FF;
    color:white;
    border-radius:8px;
    font-size:16px;
    margin-bottom:30px;
}

.icons{
    display:flex;
    justify-content:space-between;
}

.icons button{
    width:80px;
    height:45px;
    background:white;
    color:black;
    border:1px solid lightgray;
    border-radius:8px;
    font-size:22px;
    cursor:pointer;
}

.icons button i{
    font-size:22px;
}


.right{
    width:50%;
}

.right img{
    width:100%;
    height:100%;
    border-radius:20px;
    object-fit:cover;
}